#book {
    text-align: justify;
    padding: 56px 0px;
}

#abstract {
    padding-bottom: 2rem;
}

.sidebar {
  position: fixed;
  /* background-color: var(--bs-tertiary-bg); */
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 56px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    height: calc(100vh - 56px);
    overflow-y: auto;
    overflow-x: auto;
}

#navbar-toc > ul {
    padding-left: 0em;
}

#navbar-toc li {
    list-style: none;
}

#navbar-toc li a {
    padding: 5px;
    padding-left: 15px;
}
#navbar-toc a.nav-link.active {
    border: 3px solid;
    border-radius: 5px;
}