#navbar-toc li {
    list-style: none;
}

#navbar-toc li a {
    padding: 5px;
    padding-left: 15px;
}
#navbar-toc a.nav-link.active {
    border: 3px solid;
    border-radius: 5px;
}

.sidebar-sticky {
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: auto;
    top: auto;
    position: fixed;
}