#book {
  text-align: justify;
  padding: 56px 0px;
}

#abstract {
  padding-bottom: 2rem;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 56px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  height: calc(100vh - 56px);
  overflow-y: auto;
  overflow-x: auto;
}

/* NAVBAR */

.navbar ul {
  margin-top: 0em;
}

#navbar-toc > ul {
  padding-left: 0em;
}

#navbar-toc li {
  list-style: none;
}

#navbar-toc li a {
  padding: 5px;
  padding-left: 15px;
}
#navbar-toc a.nav-link.active {
  border: 3px solid;
  border-radius: 0.5rem;
  background-color: var(--bs-danger);
  color: var(--bs-body-color);
}

#theme-selector {
  padding-left: 1rem;
}

#theme-selector-menu {
  padding: 0;
}

#theme-selector li {
  margin: 0.25rem;
}

#theme-selector li.active, #theme-selector-menu button:focus, #theme-selector-menu button:hover {
  border-radius: 0.25rem;
  background-color: var(--bs-danger);
}

.theme-icon {
  width: 1rem;
  padding-right: 0.5rem;
}

/* PARTS */

.part {
  font-size: 3rem;
  text-align: center;
  background-color: var(--bs-danger);
  color: var(--bs-gray-100);
  margin: 6rem 0 3rem 0;
  border-radius: 0.5rem;
}


/* IMAGES */
.center {
    text-align: center;
}

img {
  padding: 1rem;
}

figcaption{
  font-size: 0.8rem;
  width: fit-content;
  margin:auto;
}

.float-left figure{
  float: left;
  width: 30%;
  padding-right: 1rem;
}

/* CUSTOM BOXES */

.mycode {
  border: 2px solid var(--bs-gray-700);
  border-radius: 0.5rem;
  margin-bottom: 2em;
}

.mycode > p {
  background-color: var(--bs-gray-700);
  border-radius: 5px 5px 0 0;
  color: white;
  padding: 0.1em 1em;
  margin-bottom: 0;
}

.mycode > p::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  content: "\f120";
  padding-right: 1em;
}

.mycode div.sourceCode {
  margin: 1em;
}

.inlineconsole, .commandbox, .configfile, .configdir {
  border: 2px solid var(--bs-black);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--bs-gray-700);
  color: var(--bs-white);
}

.commandbox::before, .configfile::before, .configdir::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding-right: 1em;
}

.commandbox::before {
  content: "\f120";
}

.configfile::before {
  content: "\f15b";
}

.configdir::before {
  content: "\f07c";
}

.movie {
  border: 2px solid var(--bs-warning);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.movie::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  content: "\f1c8";
  padding-right: 1em;
}


.infobox, .warnbox, .errorbox, .questionbox, .exercisebox {
  border-radius: 0.5rem;
  margin-bottom: 2em;
}

.infobox strong, .warnbox strong, .errorbox strong, .questionbox strong, .exercisebox strong {
  /* TODO: no entiendo por qué tengo que poner esto  */
  margin-left: 0.2em;
}

.infobox > p::before, .warnbox > p::before, .errorbox > p::before, .questionbox > p::before, .exercisebox > p::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  padding: 0 0.5em;
  font-size: 3rem;
}

.infobox-header, .warnbox-header, .errorbox-header, .questionbox-header, .exercisebox-header {
  border-radius: 5px 5px 0 0;
  color: var(--bs-body-bg)!important;
  font-weight: bold;
  padding: 0.1em 1em;
  margin-bottom: 0;
}


.infobox {
  border: 2px solid var(--bs-info-text-emphasis);
  background-color: var(--bs-info-bg-subtle);
}

.infobox-header {
  background-color: var(--bs-info-text-emphasis);
}

.infobox p {
  margin:auto;
  color: var(--bs-info-text-emphasis);
}

.infobox p:last-child::before {
  content: "\f05a";
}

.warnbox {
  border: 2px solid var(--bs-orange);
  background-color: #fd7e1405;
}

.warnbox-header {
  background-color: var(--bs-orange);
}

.warnbox p {
  margin:auto;
  color: var(--bs-orange);
}

.warnbox p:last-child::before  {
  content: "\f06a";
}

.errorbox {
  border: 2px solid var(--bs-danger-text-emphasis);
  background-color: var(--bs-danger-bg-subtle);
}

.errorbox-header {
  background-color: var(--bs-danger-text-emphasis);
}

.errorbox > p {
  margin:auto;
  color: var(--bs-danger-text-emphasis);
}

.errorbox p:last-child::before  {
  content: "\f071";
}

.questionbox {
  border: 2px solid var(--bs-warning-text-emphasis);
  background-color: var(--bs-warning-bg-subtle);
}

.questionbox-header {
  background-color: var(--bs-warning-text-emphasis);
}

.questionbox > p {
  margin:auto;
  color: var(--bs-warning-text-emphasis);
}

.questionbox p:last-child::before  {
  content: "\f059";
}

.exercisebox {
  border: 2px solid var(--bs-success-text-emphasis);
  background-color: var(--bs-success-bg-subtle);
}

.exercisebox-header {
  background-color: var(--bs-success-text-emphasis);
}

.exercisebox > p {
  margin:auto;
  color: var(--bs-success-text-emphasis);
}

.exercisebox p:last-child::before  {
  content: "\f013";
}

/* Tables */

