#book {
  text-align: justify;
  padding: 56px 0px;
}

#abstract {
  padding-bottom: 2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 56px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  height: calc(100vh - 56px);
  overflow-y: auto;
  overflow-x: auto;
}

.navbar ul {
  margin-top: 0em;
}

#navbar-toc > ul {
  padding-left: 0em;
}

#navbar-toc li {
  list-style: none;
}

#navbar-toc li a {
  padding: 5px;
  padding-left: 15px;
}
#navbar-toc a.nav-link.active {
  border: 3px solid;
  border-radius: 5px;
}

/* For images */
.center {
    text-align: center;
}

img {
  padding: 10px;
}

figcaption{
  font-size: 0.8rem;
  width: fit-content;
  margin:auto;
}

.float-left figure{
  float: left;
  width: 30%;
  padding-right: 10px;
}

/* For custom-box */

.mycode {
  border: 2px solid var(--bs-gray-700);
  border-radius: 10px;
  margin-bottom: 2em;
}

.mycode > p {
  background-color: var(--bs-gray-700);
  border-radius: 5px 5px 0 0;
  color: white;
  padding: 0.1em 1em;
  margin-bottom: 0;
}

.mycode > p::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  content: "\f120";
  padding-right: 1em;
}

.mycode div.sourceCode {
  margin: 1em;
}


.infobox, .warnbox, .errorbox, .questionbox, .exercisebox {
  border-radius: 10px;
  margin-bottom: 2em;
}

.infobox > p::before, .warnbox > p::before, .errorbox > p::before, .questionbox > p::before, .exercisebox > p::before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  content: "\f05a";
  padding: 0 0.5em;
  font-size: 3rem;
}


.infobox {
  border: 2px solid var(--bs-info-border-subtle);
  background-color: var(--bs-info-bg-subtle);
}

.infobox > p {
  margin:auto;
  color: var(--bs-info-text-emphasis);
}

.infobox > p::before {
  content: "\f05a";
}

.warnbox {
  border: 2px solid var(--bs-orange);
  background-color: var(--bs-warning-bg-subtle);
}

.warnbox > p {
  margin:auto;
  color: var(--bs-orange);
}

.warnbox > p::before {
  content: "\f06a";
}

.errorbox {
  border: 2px solid var(--bs-danger-border-subtle);
  background-color: var(--bs-danger-bg-subtle);
}

.errorbox > p {
  margin:auto;
  color: var(--bs-danger-text-emphasis);
}

.errorbox > p::before {
  content: "\f071";
}

.questionbox {
  border: 2px solid var(--bs-warning-border-subtle);
  background-color: var(--bs-warning-bg-subtle);
}

.questionbox > p {
  margin:auto;
  color: var(--bs-warning-text-emphasis);
}

.questionbox > p::before {
  content: "\f059";
}

.exercisebox {
  border: 2px solid var(--bs-success-border-subtle);
  background-color: var(--bs-success-bg-subtle);
}

.exercisebox > p {
  margin:auto;
  color: var(--bs-success-text-emphasis);
}

.exercisebox > p::before {
  content: "\f013";
}

/* Tables */

